In [395]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np

In [396]:
def changetorisk(df,col):
    df[col] = df[col].apply(lambda x: x[2])
    df[col] = df[col].astype(int)
#     df[col] = df[col].apply(lambda x: 'None' if x == 0 else 'low' if x <= 2 else 'high')
    return df
Column_names = ['Age','Gender','Education'
                ,'Country','Ethnicity'
                ,'Nscore','Escore','Oscore'
                ,'Ascore','Cscore','Impulsive'
                ,'SensationSeeking','Alchol'
                ,'Amphet','Amyl','Benzos'
                ,'Caff','Cannibis','Chocalate'
                ,'Coke','Crack','Ecstasy','Heroin'
                ,'Ketamine','Legalh','Lsd','Meth'
                ,'Mushroom','Nicotine','Semer','VSA']

In [397]:
df = pd.read_csv('drug_consumption.csv', names = Column_names)

In [398]:
drugcols = ['Alchol', 'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannibis', 'Chocalate', 'Coke', 'Crack', 'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'Lsd', 'Meth', 'Mushroom', 'Nicotine', 'Semer', 'VSA']
print(drugcols)

['Alchol', 'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannibis', 'Chocalate', 'Coke', 'Crack', 'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'Lsd', 'Meth', 'Mushroom', 'Nicotine', 'Semer', 'VSA']

In [399]:
for i in drugcols:
    df = changetorisk(df,i)
df

          Age   Gender  Education  Country  ...  Mushroom  Nicotine  Semer  VSA
1     0.49788  0.48246   -0.05921  0.96082  ...         0         2      0    0
2    -0.07854 -0.48246    1.98437  0.96082  ...         0         4      0    0
3     0.49788 -0.48246   -0.05921  0.96082  ...         1         0      0    0
4    -0.95197  0.48246    1.16365  0.96082  ...         0         2      0    0
5     0.49788  0.48246    1.98437  0.96082  ...         2         2      0    0
...       ...      ...        ...      ...  ...       ...       ...    ...  ...
1884 -0.95197  0.48246   -0.61113 -0.57009  ...         0         0      0    5
1885 -0.95197 -0.48246   -0.61113 -0.57009  ...         4         5      0    0
1886 -0.07854  0.48246    0.45468 -0.57009  ...         2         6      0    0
1887 -0.95197  0.48246   -0.61113 -0.57009  ...         3         4      0    0
1888 -0.95197 -0.48246   -0.61113  0.21128  ...         3         6      0    2

[1885 rows x 31 columns]

In [400]:
df['Gender'] = df['Gender'].apply(lambda x: 'Female' if x >0 else 'Male')
df = df.drop(['Country','Ethnicity'], axis = 1)

In [401]:
df

          Age  Gender  Education   Nscore  ...  Mushroom  Nicotine  Semer  VSA
1     0.49788  Female   -0.05921  0.31287  ...         0         2      0    0
2    -0.07854    Male    1.98437 -0.67825  ...         0         4      0    0
3     0.49788    Male   -0.05921 -0.46725  ...         1         0      0    0
4    -0.95197  Female    1.16365 -0.14882  ...         0         2      0    0
5     0.49788  Female    1.98437  0.73545  ...         2         2      0    0
...       ...     ...        ...      ...  ...       ...       ...    ...  ...
1884 -0.95197  Female   -0.61113 -1.19430  ...         0         0      0    5
1885 -0.95197    Male   -0.61113 -0.24649  ...         4         5      0    0
1886 -0.07854  Female    0.45468  1.13281  ...         2         6      0    0
1887 -0.95197  Female   -0.61113  0.91093  ...         3         4      0    0
1888 -0.95197    Male   -0.61113 -0.46725  ...         3         6      0    2

[1885 rows x 29 columns]

In [402]:
df.Age = df.Age.astype(float)
df.Age.value_counts()

-0.95197    643
-0.07854    481
 0.49788    356
 1.09449    294
 1.82213     93
 2.59171     18
Name: Age, dtype: int64

In [403]:
agecases = [df.Age < -0.85197, df.Age == -0.07854,df.Age < 0.89788
            ,df.Age == 1.09449,df.Age == 1.82213,df.Age == 2.59171]
agechoices = ["18-24","25-34","35-44","45-54","55-64","65+"]

In [404]:
df.Age = np.select(agecases,agechoices)

In [405]:
df.Age.value_counts()

18-24    643
25-34    481
35-44    356
45-54    294
55-64     93
65+       18
Name: Age, dtype: int64

In [406]:
-2.43591 'Left school before 16 years' 
-1.73790 'Left school at 16 years' 
-1.43719 'Left school at 17 years'
-1.22751 'Left school at 18 years '
-0.61113 'Some college or university, no certificate or degree '
-0.05921' Professional certificate/ diploma '
0.45468 'University degree '
1.16365 'Masters degree '
1.98437 'Doctorate degree '

SyntaxError: invalid syntax (<ipython-input-406-a7570468d2a5>, line 1)

In [407]:
educases = [df.Education < -1.85197, df.Education == -1.73790,df.Education < -1.33719
            ,df.Education < -1.12751,df.Education < -0.51113,df.Education < -0.04921
            ,df.Education < 0.55468,df.Education < 1.2365,df.Education < 2.98437]
educhoices = ['Left school before 16 years'
              ,'Left school at 16 years' 
              ,'Left school at 17 years'
              ,'Left school at 18 years '
              ,'Some college or university, no certificate or degree'
              ,'Professional certificate/diploma'
              ,'University degree'
              ,'Masters degree'
              ,'Doctorate degree']

In [408]:
df.Education =np.select(educases,educhoices)

In [409]:
df.Education.value_counts()

Some college or university, no certificate or degree    506
University degree                                       480
Masters degree                                          283
Professional certificate/diploma                        270
Left school at 18 years                                 100
Left school at 16 years                                  99
Doctorate degree                                         89
Left school at 17 years                                  30
Left school before 16 years                              28
Name: Education, dtype: int64

In [410]:
sorted(list(df.Nscore.unique()))

[-3.4643599999999997,
 -3.15735,
 -2.75696,
 -2.52197,
 -2.4231700000000003,
 -2.3436,
 -2.21844,
 -2.05048,
 -1.86962,
 -1.69163,
 -1.5507799999999998,
 -1.43907,
 -1.32828,
 -1.1943,
 -1.05308,
 -0.92104,
 -0.79151,
 -0.67825,
 -0.58016,
 -0.46725,
 -0.34799,
 -0.24649000000000001,
 -0.14882,
 -0.051879999999999996,
 0.04257,
 0.13606,
 0.22393000000000002,
 0.31287,
 0.41667,
 0.52135,
 0.62967,
 0.73545,
 0.82562,
 0.9109299999999999,
 1.02119,
 1.13281,
 1.23461,
 1.37297,
 1.49158,
 1.6038299999999999,
 1.72012,
 1.8399,
 1.98437,
 2.127,
 2.28554,
 2.4626200000000003,
 2.61139,
 2.82196,
 3.27393]

In [411]:
list(range(12,61))

[12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60]

In [412]:
df.Nscore.replace(to_replace=sorted(list(df.Nscore.unique())),value=list(range(12,61))
                  ,inplace = True)
df.Nscore.astype(int)

1       39
2       29
3       31
4       34
5       43
        ..
1884    25
1885    33
1886    47
1887    45
1888    31
Name: Nscore, Length: 1885, dtype: int64

In [413]:
Escorenumlist = [16, 18, 19
           , 20, 21, 22, 23, 24, 25, 26, 27
           , 28, 29, 30, 31, 32, 33, 34, 35
           , 36, 37, 38, 39, 40, 41, 42, 43
           , 44, 45, 46, 47, 48, 49, 50, 51
           , 52, 53, 54, 55, 56, 58, 59]

In [414]:
df.Escore.replace(to_replace=sorted(list(df.Escore.unique())),value=Escorenumlist
                  ,inplace = True)
df.Escore.astype(int)

1       36
2       52
3       45
4       34
5       28
        ..
1884    51
1885    51
1886    30
1887    26
1888    53
Name: Escore, Length: 1885, dtype: int64

In [415]:
Oscorenumlist = [ 24, 26,
           28, 29, 30, 31, 32, 33, 34, 35
           , 36, 37, 38, 39, 40, 41, 42, 43
           , 44, 45, 46, 47, 48, 49, 50, 51
           , 52, 53, 54, 55, 56,57, 58, 59,60]

In [416]:
df.Oscore.replace(to_replace=sorted(list(df.Oscore.unique())),value=Oscorenumlist
                  ,inplace = True)
df.Oscore.astype(int)

1       42
2       55
3       40
4       46
5       43
        ..
1884    57
1885    50
1886    37
1887    48
1888    56
Name: Oscore, Length: 1885, dtype: int64

In [417]:
Ascorenumlist = [ 12,16,18,23, 24,25, 26,27,
           28, 29, 30, 31, 32, 33, 34, 35
           , 36, 37, 38, 39, 40, 41, 42, 43
           , 44, 45, 46, 47, 48, 49, 50, 51
           , 52, 53, 54, 55, 56,57, 58, 59,60]

In [418]:
df.Ascore.replace(to_replace=sorted(list(df.Ascore.unique())),value=Ascorenumlist
                  ,inplace = True)
df.Ascore.astype(int)

1       37
2       48
3       32
4       47
5       41
        ..
1884    48
1885    48
1886    31
1887    32
1888    50
Name: Ascore, Length: 1885, dtype: int64

In [419]:
Cscorenumlist = [17,19,20,21,22,23, 24,25, 26,27,
           28, 29, 30, 31, 32, 33, 34, 35
           , 36, 37, 38, 39, 40, 41, 42, 43
           , 44, 45, 46, 47, 48, 49, 50, 51
           , 52, 53, 54, 55, 56,57, 59]

In [420]:
df.Cscore.replace(to_replace=sorted(list(df.Cscore.unique())),value=Cscorenumlist
                  ,inplace = True)
df.Cscore.astype(int)

1       42
2       41
3       34
4       46
5       50
        ..
1884    33
1885    30
1886    31
1887    22
1888    45
Name: Cscore, Length: 1885, dtype: int64

In [421]:
df.Impulsive.replace(to_replace = sorted(list(df.Impulsive.unique())),value = list(range(1,11))
                    ,inplace = True)

In [422]:
drugcols=[ 'Amphet', 'Amyl', 'Benzos', 'Cannibis',  'Coke', 'Crack', 'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'Lsd', 'Meth', 'Mushroom', 'Semer', 'VSA']

In [423]:
df.SensationSeeking.replace(to_replace = sorted(list(df.SensationSeeking.unique())),value = list(range(1,12))
                    ,inplace = True)

In [424]:
stimulant_columns = ['Amphet','Coke','Crack','Ketamine']
stimdf = df.drop(drugcols,axis = 1)
stimdf['stim'] = (df.Amphet  + df.Coke + df.Crack + df.Ketamine)/4
# stimdf['stim'] = stimdf['stim'].apply(lambda x: 'None' if x == 0 else 'low' if x <= 2 else 'high')

In [425]:
depressant_columns = ['Amyl','Benzos','Cannibis','Ketamine']
depressantdf = df.drop(drugcols,axis = 1)
depressantdf['depress'] = (df.Amyl  + df.Benzos )/2
# depressantdf['depress'] = depressantdf['depress'].apply(lambda x: 'None' if x == 0 else 'low' if x <= 2 else 'high')

In [426]:
hallucinagen_columns = ['Ecstacy','Lsd','Mushroom']
hallucinagendf =df.drop(drugcols,axis = 1)
hallucinagendf['hallu'] = (df.Ecstasy  + df.Lsd + df.Mushroom )/3
# hallucinagendf['hallu'] = hallucinagendf['hallu'].apply(lambda x: 'None' if x == 0 else 'low' if x <= 2 else 'high')

In [427]:
other_columns = ['Amyl','Benzos','Cannibis','Ketamine']
df['depress'] = (df.Amyl  + df.Benzos )/2
# df['depress'] = df['depress'].apply(lambda x: 'None' if x == 0 else 'low' if x <= 2 else 'high')

In [428]:
df['stimulant'] = stimdf['stim']
df['depressant'] = depressantdf['depress']
df['hallucinagen'] = hallucinagendf['hallu']

In [429]:
df

        Age  Gender  ... depressant  hallucinagen
1     35-44  Female  ...        1.0      0.000000
2     25-34    Male  ...        1.0      2.000000
3     35-44    Male  ...        0.0      0.333333
4     18-24  Female  ...        1.5      0.000000
5     35-44  Female  ...        0.5      1.000000
...     ...     ...  ...        ...           ...
1884  18-24  Female  ...        0.0      1.000000
1885  18-24    Male  ...        0.0      3.666667
1886  25-34  Female  ...        5.0      2.666667
1887  18-24  Female  ...        0.0      3.000000
1888  18-24    Male  ...        1.5      3.000000

[1885 rows x 33 columns]

In [430]:
stimdf.to_csv('StimDf.csv')
depressantdf.to_csv('depressantdf.csv')
hallucinagendf.to_csv('hallucinagendf.csv')
cleardf = df.drop(drugcols,axis = 1)
cleardf = cleardf.drop('depress',axis = 1)
cleardf.to_csv('cleardf.csv')

In [488]:
cleardf

      Age  Gender  Education  Nscore  ...  stimulant  depressant  hallucinagen  Male
1       3  Female          1    39.0  ...       0.50         1.0      0.000000     0
2       2    Male          4    29.0  ...       1.75         1.0      2.000000     1
3       3    Male          1    31.0  ...       0.00         0.0      0.333333     1
4       1  Female          3    34.0  ...       1.00         1.5      0.000000     0
5       3  Female          4    43.0  ...       0.25         0.5      1.000000     0
...   ...     ...        ...     ...  ...        ...         ...           ...   ...
1884    1  Female          0    25.0  ...       0.00         0.0      1.000000     0
1885    1    Male          0    33.0  ...       0.00         0.0      3.666667     1
1886    2  Female          2    47.0  ...       3.00         5.0      2.666667     0
1887    1  Female          0    45.0  ...       0.00         0.0      3.000000     0
1888    1    Male          0    31.0  ...       1.50         1.5      3.000000     1

[1885 rows x 18 columns]

In [489]:

datadf = cleardf
datadf

      Age  Gender  Education  Nscore  ...  stimulant  depressant  hallucinagen  Male
1       3  Female          1    39.0  ...       0.50         1.0      0.000000     0
2       2    Male          4    29.0  ...       1.75         1.0      2.000000     1
3       3    Male          1    31.0  ...       0.00         0.0      0.333333     1
4       1  Female          3    34.0  ...       1.00         1.5      0.000000     0
5       3  Female          4    43.0  ...       0.25         0.5      1.000000     0
...   ...     ...        ...     ...  ...        ...         ...           ...   ...
1884    1  Female          0    25.0  ...       0.00         0.0      1.000000     0
1885    1    Male          0    33.0  ...       0.00         0.0      3.666667     1
1886    2  Female          2    47.0  ...       3.00         5.0      2.666667     0
1887    1  Female          0    45.0  ...       0.00         0.0      3.000000     0
1888    1    Male          0    31.0  ...       1.50         1.5      3.000000     1

[1885 rows x 18 columns]

In [490]:
# datadf.Age = datadf.Age.replace(agechoices,list(range(1,7)))
datadf.Education = datadf.Education.replace(educhoices,list(range(-4,5,1)))

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [491]:
datadf = pd.get_dummies(datadf,columns=['Gender'],drop_first=True)

In [492]:
datadf = datadf.drop('Male',axis=1)

In [493]:
datadf

      Age  Education  Nscore  ...  depressant  hallucinagen  Gender_Male
1       3          1    39.0  ...         1.0      0.000000            0
2       2          4    29.0  ...         1.0      2.000000            1
3       3          1    31.0  ...         0.0      0.333333            1
4       1          3    34.0  ...         1.5      0.000000            0
5       3          4    43.0  ...         0.5      1.000000            0
...   ...        ...     ...  ...         ...           ...          ...
1884    1          0    25.0  ...         0.0      1.000000            0
1885    1          0    33.0  ...         0.0      3.666667            1
1886    2          2    47.0  ...         5.0      2.666667            0
1887    1          0    45.0  ...         0.0      3.000000            0
1888    1          0    31.0  ...         1.5      3.000000            1

[1885 rows x 17 columns]

In [494]:
datadf.to_csv('prepeddata.csv')